.layout {
	min-width: 100vw;
	min-height: 100vh;

	.menu {
		transform: translateX(-10px);
		transition: all .5s ease;

		&--opacity-1 {
			opacity: 1;
			transform: translateX(0);
		}

		&--opacity-0 {
			opacity: 0;
			transform: translateX(-10px);
		}
	}


	&__collapsible {
		display: none;
		font-size: 16px;
		position: absolute !important;
    left: 24px !important;
    bottom: 16px !important;
	}

	&__header {
		padding: 0;
	}

	&__content {
		margin: 24px 16px;
		padding: 24px;
		min-height: 280px;
	}
}

@media (max-width: 1000px) {
	.layout {

		&__menu {
			opacity: 1;
		}

		&__collapsible {
			display: block;
		}

	}
}